@model List<Model.EF.Menu>
<div class="header_bottom">
    <div class="menu">
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }
            <div class="clear"></div>
        </ul>
    </div>
    <div class="search_box">
        <form>
            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value === '') {this.value = 'Search';}" /><input type="submit" value="" />
        </form>
    </div>
    <div class="clear"></div>
</div>