
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section group">
    <div class="col_1_of_3 span_1_of_3">
        <h3>About Me</h3>
        <img src="~/Assets/images/CJ.jpg" alt="">
    </div>
    <div class="col_1_of_3 span_1_of_3">
        <h3>Author : Thành Đạt</h3>
        <p><strong>Website developed by : Thành Đạt </strong></p>
        <p><strong>Phone Number : 0943476316</strong></p>

    </div>
</div>
